/* fonts */
@font-face {

    font-family: "Din_regular";
    src: url(DINR_.TTF) format ("truetype");
}

/* Genereal css rules */
body{
    padding:0;
    margin:0 auto;
    font-family: 'DIN_regular', 'Montserrat', sans-serif;
    color:#f5f5f5;
}

/* content */
#wrapper{
    background:url("water.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* header */
#front_text{
    /*
    position:absolute;
    top:214px;
    */
    padding:200px 0;
    margin:auto;
    width:100%;
}

#big_head{
    margin:0 auto;
    width:100%;
    text-align: center;
}
ul.topnav{
    list-style-type: none;
    margin:0 auto;
    padding:0;
    overflow:hidden;
    background-color:#333;
}

input{
    border:2px solid black;
}

/* responsive */
ul.topnav.responsive{
    position:relative;
}
ul.topnav.responsive li.icon{
    position:absolute;
    right:0;
    top:0;
}
ul.topnav.responsive li{
    float:none;
    display:inline;
}
ul.topnav.responsive li a{
    display:block;
}

/* navigation des */
ul.topnav li{
    float:left;
}
ul.topnav li{
    display:none;
}
ul.topnav li a{
    display:inline-block;
    color:#f2f2f2;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    transition:0.3s;
    font-size:17px;
}
ul.topnav li a:hover {
    background-color:#111;
}
ul.topnav li.icon{
    display:inline-block;
    float:right;
}

/* header ENDs */


/* About info */
#about_design{
    text-align: center;
    position:relative;
    width:100%;
    z-index:1;
}

#about_design:after{
    width:100%;
    content:"";
    display:block;
    height:110%;
    position:absolute;
    top:1%;
    -webkit-transform:skewY(-7.5deg);
    -moz-transform:skewY(-7.5deg);
    -ms-transform:skewY(-7.5deg);
    -o-transform:skewY(-7.5deg);
    transform:skewY(-7.5deg);
    background-color:white;
    z-index:2;
}

#about_info{
    padding: 10px 12px 0px 12px;
    color:grey;
    font-size: 20px;
    position:relative;
    z-index:3;
}

#about_info h1{
    padding-top:25px;
}

#about_info p{
    font-size: 17px;
}

/* ABOUT info END */

/* OUR works starts */
#contact_design{
    text-align: center;
    position:relative;
    width:100%;
    z-index:1;
}

#contact_design:after{
    width:100%;
    content:"";
    display:block;
    height:110%;
    position:absolute;
    top:1%;
    -webkit-transform:skewY(-5deg);
    -moz-transform:skewY(-5deg);
    -ms-transform:skewY(-5deg);
    -o-transform:skewY(-5deg);
    transform:skewY(-5deg);
    z-index:2;
}

#contact_info{
    padding: 0px 12px 10px 12px ;
    color:#ffffff;
    font-size: 23px;
    position:relative;
    z-index:3;
}

#contact_info h1{
    padding-top:95px;
}

.case {
    margin:17px 17px 0 17px;
    background-color:white;
    padding:0;
    background-image: url("arrow1.svg");
    background-position: center bottom 10px;
    background-repeat:no-repeat;
    background-size:20px;

}

img{
    padding:0px;
    height:50px;
    width:50px;
}

#case1{
    background-image: url("http://media1.lookia.se/2015/03/logox2.png")
}

#case2{
    background-image: url("http://media.radabot.se/2016/03/Radabot_logo_liggande-1.png")
}

.client_logo{
    width:220px;
    height:120px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150px;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    cursor:pointer;

}

.case > p{
    color:grey;
    font-size: 15px;
    padding:10px 5px 37px 10px;
    margin:0 auto;
    text-align: left;
}

.case > h3{
    color:black;
    font-size: 20px;
    padding-left:10px;
    margin:0 auto;
    text-align: left;
}

#icon_list, #text_list{
    list-style: none;
}

#icon_list{
    padding:0;
    margin:0;
    display: block;
}

#icon_list > li{
    width:20%;
    padding:18px 0px 20px 60px ;
}

#text_list{
    padding:0;
    margin:0;
    display:block;
    float:right;

}

#text_list > li > p{
    width:20%;
    padding:26px 0;
    color:#18403B;
    margin:0;
    font-size: 90%;
}

#text_list > li{
    padding:0 23px 20px 0 ;
}

#icon_text_lists{
    width:95%;
    margin:auto;
}

.text_color{
    color:#18403B;
    margin-bottom:0px;
}

/* our works ends here */

/* Contact FORM STARTS HERE...... */

.contact{
	text-align: center;
	color: #fff;
    font-size: 20px;
}

.contact h3 {
    margin-bottom: 0px;
}

.contact h4 {
	margin-top: 15px;
    margin-bottom: 20px;
	font-weight: 200;
    font-size: 25px;
}

input.form-control,
textarea.form-control{
	background: none;
	background-color: none;
	box-shadow: none;
	border: 0px;
	border-bottom: 1px solid rgba(256,256,256,0.25);
	border-radius: 0px;
	color: rgba(256,256,256,0.75);
	padding: 20px 30px
}

input.form-control:focus,
input.form-control:active,
textarea.form-control:focus,
textarea.form-control:active {
	outline: none;
  	border: none ;
  	border-bottom: 1px solid #fff;
  	color: #fff;
 	-webkit-box-shadow: none !important;
  	   -moz-box-shadow: none !important;
  		-ms-box-shadow: none !important;
  		 -o-box-shadow: none !important;
  			box-shadow: none !important;
}

input.form-control:-moz-placeholder,
textarea.form-control:-moz-placeholder {
	color: white;
	opacity: 0.7;
}

input.form-control::-moz-placeholder,
textarea.form-control::-moz-placeholder {
	color: white;
	opacity: 0.7;
}

input.form-control:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
	color: white;
	opacity: 0.7;
}

input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
	color: white;
	opacity: 0.7;
}

.send-div{
	margin-top: 40px;
}

.send-div button{
	border-color: rgba(256,256,256,0.25);
    border-radius: 50%;
	background: none;
	padding: 35px 35px;
	color: #fff;
	text-shadow: none;
	text-transform: uppercase;
}

.send-div button:hover{
	border-color: #fff;
	background: #fff;
	color: #000;
}

.success-message,
.error-message {
	height: 30px;
}

#map {
	height: 500px;
}

#map .gm-style-cc{
	display: none;
}

#map a{
	display: none !important;
}

.contact footer hr {
	margin-top: 0px;
}

#cd-zoom-in,
#cd-zoom-out {
	height: 32px;
	width: 32px;
	cursor: pointer;
	margin-left: 30px;
	opacity:.7;
	font-size: 1.3em
}

#cd-zoom-in span,
#cd-zoom-out span{
	width: 100%;
	float: left;
	margin-top: 7px;
}

.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
	opacity:1;
}

#cd-zoom-in:hover, #cd-zoom-out:hover {
	opacity:1;
}

#cd-zoom-in {
	background-position: 50% 0;
	margin-top: 400px;
	margin-bottom: 1px;
}

#cd-zoom-out {
	background-position: 50% -32px;
}

#cd-zoom-in,
#cd-zoom-out {
	background-color:#000;
}

#say_hi{
    margin-bottom:10px;
    padding-top: 45px;
    font-weight: 200;
    font-size:0.75em;
    line-height: 1.35em;
    letter-spacing: 0.025em;
    margin-top: 20px;
    box-sizing: border-box;
}

#ur_mes{
    font-size: 1.7em;
    line-height: 0.3em;
    letter-spacing: -0.075em;
    margin:0px;
    padding-bottom:25px;

}

/*FORM ENDS */


/* Footer */

.footer_icons{
    list-style: none;
    text-align: center;
    padding:0;
}

.footer_icons > li{
    padding-bottom:7px;
    opacity:0.8;
}

footer{
    padding:0;
    font-size: 13px;
}
.copyright{
    margin-top:30px;
    margin-bottom:0;
    padding-bottom:5px;
}

hr{
    width:80%;
}


/* mediaqueries */

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    #big_head{
        margin:0 auto;
        width:85%;
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
       /* BÖRJA HÄR */
}


/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi){
      /* BÖRJA HÄR */
}
